<ons-page>

  <ons-toolbar>
    <div class="center">Instalación Inicial</div>
  </ons-toolbar>

  <div class="content">
    <ons-list>
      <!-- <ons-list-header>Sessión iniciada por</ons-list-header> -->
      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" [src]="appLogo">
        </div>
        <div class="center">
          <span class="list-item__title">Paso 1: Identificación de usuario</span>
        </div>
      </ons-list-item>
    </ons-list>

    <br />

    <ons-list modifier="inset">
      <div class="container-fluid">

        <small class="form-text text-muted mb-2">Seleccionar Tipo de Usuario</small>
        <div class="btn-group btn-group-toggle btn-group-sm mb-2" ngbRadioGroup name="formTipoUsuario" [(ngModel)]="formTipoUsuario">
            <label ngbButtonLabel class="btn-info btn-custom padding-fix" (click)="Setea('cob')">
                <input ngbButton type="radio" value="cobrador"> Cobrador
            </label>
            <label ngbButtonLabel class="btn-info btn-custom padding-fix">
                <input ngbButton type="radio" value="productor" (click)="Setea('cob')"> Productor
            </label>
        </div>

        <div class="cobrador-form" >
           <div class="input-group" *ngIf="!bd">
              <span class="input-group-addon" id="basic-addon2">
                  <i class="fa fa-id-card-o fa-fw"></i>
              </span>
              <input [(ngModel)]="formDb" name="formDb" id="formDb" type="text" class="form-control form-control-sm" placeholder="Nombre Db...">
              
            </div>
            <div  class="input-group" *ngIf="!bd">
              <span class="input-group-addon" id="basic-addon2">
                  <i class="fa fa-id-card-o fa-fw"></i>
              </span>
              <input [(ngModel)]="formUs" name="formUs" id="formUs" type="text" class="form-control form-control-sm" placeholder="Nombre usuario...">
            </div>
            <div  class="text-center mt-2 mb-2" *ngIf="!bd">
              <button *ngIf="!bd" class="btn btn-custom btn-sm ml-1" (click)="writeINI()">Guardar </button>
            </div>
              <div  class="input-group" *ngIf="licencia">
              <span class="input-group-addon" id="basic-addon2">
                  <i class="fa fa-id-card-o fa-fw"></i>
              </span>
              <input [(ngModel)]="formli" name="formli" id="formli" type="text" class="form-control form-control-sm" placeholder="licencia key...">
            </div>
            <ons-row *ngIf="licencia" class="text-center mt-2 mb-2">
              <ons-col>
                   <ons-button (click)="licenciamiento()"><span>Verificar</span></ons-button> 
              </ons-col>
            </ons-row>

          <div class="row mb-4" *ngIf=" bd && !licencia">
            <div class="col">
              <small class="form-text text-muted mb-2">Ingrese el DNI para verificar</small>
              <div class="form-group mb-2">
                  <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">
                      <i class="fa fa-id-card-o fa-fw"></i>
                  </span>
                  <input [(ngModel)]="formDni" name="formDni" id="formDni" type="text" class="form-control form-control-sm" placeholder="DNI...">
                  <button class="btn btn-custom btn-sm ml-1" (click)="verificar()">Verificar</button>
                  </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div *ngIf="showLoading && !cobrador" style="text-align: center;">
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
            </div>
            <table class="table table-striped" *ngIf="!showLoading && cobrador && bd && !licencia">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-left">DNI</th>
                    <th scope="col" class="text-center">{{cob_prod}}</th>
                    <th scope="col" class="text-center">Licencia</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left"><b>{{ cobrador.Documento }}</b></td>
                    <td class="text-center"><b *ngIf="cobrador" >{{ cobrador.NombreCobrador }}</b><b *ngIf="cob_prod=='Productor'">{{ cobrador.NombreProductor }}</b></td>
                    <td class="text-center">{{ cobrador.LicenciaCliente }}</td>
                  </tr>
                </tbody>
              </table>
             
              <p class="text-muted ml-2" *ngIf="!showLoading && cobrador">Si los datos son correctos presione sincronizar.</p>
          </div>
      </div>

      </div>
    </ons-list>

    <br />

    <ons-bottom-toolbar style="height: 10vh;">
      <div class="container-fluid my-2 py-1">
        <div class="row">
          <div class="col-xs-12 ml-auto">
            <ons-toolbar-button class="bottom-toolbar-button text-center" [disabled]="!cobrador" (click)="siguiente()">
                <i class="fa fa-download"></i> Sincronizar
            </ons-toolbar-button>
          </div>
        </div>
      </div>
    </ons-bottom-toolbar>

  </div>

</ons-page>
