<app-loading-dark-overlay *ngIf="loading"></app-loading-dark-overlay>
<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">Modificar Datos</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-book fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list>
    <!-- <ons-list-header>Ingrese los datos del cliente</ons-list-header> -->
    <div class="container-fluid mx-3 pt-2">
      <div class="row">
        <div class="col-xs-12 pt-2">
          <form class="pb-4">
            
            <!-- formEstado -->
            <small class="form-text text-muted mb-1">Modificar el estado de la visita</small>
            <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="formEstado" [(ngModel)]="formEstado">
              <label ngbButtonLabel class="btn-info btn-custom padding-fix">
                <input ngbButton type="radio" value="1"> Visitar
              </label>
              <label ngbButtonLabel class="btn-info btn-custom padding-fix">
                <input ngbButton type="radio" value="4"> Preventa
              </label>
              <label ngbButtonLabel class="btn-info btn-custom padding-fix">
                <input ngbButton type="radio" value="3"> Rechazado
              </label>
              <label ngbButtonLabel class="btn-info btn-custom padding-fix">
                <input ngbButton type="radio" value="2"> Alta
              </label>
            </div>

            <!-- formNombre -->
            <div class="form-group">
              <small class="form-text text-muted mb-1">Nombre:</small>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                  <i class="fa fa-user fa-fw"></i>
                </span>
                <input [(ngModel)]="formNombre" name="formNombre" id="formNombre" type="text" class="form-control form-control-sm" placeholder="Ingrese el nombre...">
              </div>
            </div>

            <!-- formDni -->
            <div class="form-group" *ngIf="formEstado === '2'">
                <small class="form-text text-muted mb-1">DNI:</small>
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-id-card-o fa-fw"></i>
                </span>
                <input [(ngModel)]="formDni" name="formDni" id="formDni" type="text" class="form-control form-control-sm" placeholder="Dni del titular...">
                </div>
            </div>

            <!-- formFechaNacimiento -->
            <div class="form-group" *ngIf="formEstado === '2'">
                <small class="form-text text-muted mb-1">Fecha de Nacimiento:</small>
                <div class="input-group">
                <span class="input-group-addon" (click)="dp.toggleCalendar()">
                    <i class="fa fa-calendar-o fa-fw"></i>
                </span>
                <input [(ngModel)]="formFechaNacimiento" name="formFechaNacimiento" class="form-control form-control-sm" style="float:none"
                    ngx-mydatepicker name="mydate" id="formFechaNacimiento" [options]="myDatePickerOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChangedNacimiento($event)"/>
                </div>
            </div>

            <!-- formTelefono -->
            <div class="form-group">
              <small class="form-text text-muted mb-1">Telefono:</small>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                  <i class="fa fa-phone fa-fw"></i>
                </span>
                <input [(ngModel)]="formTelefono" name="formTelefono" id="formTelefono" type="text" class="form-control form-control-sm" placeholder="Ingrese telefono...">
              </div>
            </div>

            <!-- formDireccion -->
            <div class="form-group">
              <small class="form-text text-muted mb-1">Dirección:</small>
              <textarea [(ngModel)]="formDireccion" name="formDireccion" class="form-control" rows="2" placeholder="Ingrese dirección..."></textarea>
            </div>

            <!-- formFecha -->
            <div class="form-group" *ngIf="formEstado !== '2'">
              <small class="form-text text-muted mb-1">Fecha de visita:</small>
              <div class="input-group">
                <span class="input-group-addon" (click)="dp.toggleCalendar()">
                  <i class="fa fa-calendar-o fa-fw"></i>
                </span>
                <input [(ngModel)]="formFecha" name="formFecha" class="form-control form-control-sm" style="float:none"
                  ngx-mydatepicker name="mydate" id="formdp" [options]="myDatePickerOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
              </div>
            </div>

            <!-- formNumeroContrato -->
            <div class="form-group" *ngIf="formEstado === '2'">
                <small class="form-text text-muted mb-1">Contrato:</small>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-file-text-o fa-fw"></i>
                  </span>
                  <input [(ngModel)]="formNumeroContrato" name="formNumeroContrato" id="formNumeroContrato" type="text" class="form-control form-control-sm" placeholder="Numero de contrato...">
                </div>
              </div>
  
              <!-- formImporte -->
              <div class="form-group" *ngIf="formEstado === '2'">
                <small class="form-text text-muted mb-1">Importe:</small>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-money fa-fw"></i>
                  </span>
                  <input [(ngModel)]="formImporte" name="formImporte" id="formImporte" type="text" class="form-control form-control-sm" placeholder="Importe...">
                </div>
              </div>

            <!-- formHora / formMinuto 
            <div class="form-group" *ngIf="formEstado !== '2'">
              <small class="form-text text-muted mb-1">Hora de visita:</small>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                <select [(ngModel)]="formHora" (change)="onTimeChanged()" name="formHora" class="form-control form-control-sm">
                  <option value="0" selected>Hora</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
                <select [(ngModel)]="formMinuto" (change)="onTimeChanged()" name="formMinuto" class="form-control form-control-sm">
                  <option value="0" selected>Minutos</option>
                  <option value="00">00</option>
                  <option value="05">05</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="30">30</option>
                  <option value="35">35</option>
                  <option value="40">40</option>
                  <option value="45">45</option>
                  <option value="50">50</option>
                  <option value="55">55</option>
                </select>
              </div>
            </div> -->

            <!-- formTiempo -->
            <div class="form-group mb-2" *ngIf="formEstado !== '2'">
                <small class="form-text text-muted mb-1">Hora:</small>
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-clock-o fa-fw"></i>
                </span>
                <input [(ngModel)]="formTiempo" name="formTiempo" id="formTiempo" type="text" class="form-control form-control-sm">
                </div>
            </div>

            <!-- formObservaciones -->
            <div class="form-group">
              <small class="form-text text-muted mb-1">Observaciones:</small>
              <textarea [(ngModel)]="formObservaciones" name="formObservaciones" class="form-control" rows="2" placeholder="Ingrese observaciones..."></textarea>
            </div>

          </form>
        </div>
      </div>
    </div>

  </ons-list>

  <ons-bottom-toolbar style="height: 10vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row">

        <div class="col-xs-12 ml-2 mr-auto">
          <ons-toolbar-button class="bottom-toolbar-button" (click)="actualizarGPS()">
              <i class="fa fa-location-arrow"></i> Act. GPS
          </ons-toolbar-button>
        </div>

        <div class="col-xs-12 ml-auto mr-2">
          <ons-toolbar-button class="bottom-toolbar-button" (click)="modificarCliente()">
            <ons-icon icon="fa-calendar-check-o" class="fa-fw"></ons-icon> Guardar
          </ons-toolbar-button>
        </div>

      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>