<ons-page>

  <ons-toolbar>
    <div class="center">Menú del Cobrador</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group toolbar-menu-margin-fix">
        <li class="list-group-item" (click)="cerrarSesion()"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <div class="content">
    <ons-list>
      <!-- <ons-list-header>Sessión iniciada por</ons-list-header> -->
      <ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" [src]="appLogo">
        </div>
        <div class="center">
          <span class="list-item__title">{{ nombreCobrador }}</span>
          <span class="list-item__subtitle">DNI: {{ documentoCobrador }}. Comisión: {{ comisionCobrador }}%</span>
        </div>
      </ons-list-item>
    </ons-list>

    <br />

    <ons-list modifier="inset">
      <!-- <ons-list-header>Menú de la aplicación</ons-list-header> -->
      <ons-list-item modifier="longdivider" (click)="openCobranzas()">
        <i class="fa fa-bank fa-2x menu-icon p-2"></i>
        Cobranzas
      </ons-list-item>
      <ons-list-item modifier="longdivider" (click)="openAgenda()">
        <i class="fa fa-book fa-2x menu-icon p-2"></i>
         Agenda
      </ons-list-item>
      <ons-list-item modifier="longdivider" (click)="ruta()">
        <i class="fa fa-map-marker fa-2x menu-icon p-2"></i>
         Ruta
      </ons-list-item>
    </ons-list>

    <br />

  </div>

</ons-page>
