<app-loading-dark-overlay *ngIf="loading"></app-loading-dark-overlay>
<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">Agendar Cliente</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list>
    <div class="container-fluid mx-3 pt-2" style="height: 75vh">
      <div class="row">
        <div class="col-xs-12 pt-2">
          <form>

            <!-- formNombre -->
            <div class="form-group mb-2">
              <small class="form-text text-muted mb-1">Nombre:</small>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                  <i class="fa fa-user fa-fw"></i>
                </span>
                <input [(ngModel)]="formNombre" name="formNombre" id="formNombre" type="text" class="form-control form-control-sm" placeholder="Ingrese el nombre...">
              </div>
            </div>

            <!-- formTelefono -->
            <div class="form-group mb-2">
              <small class="form-text text-muted mb-1">Telefono:</small>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                  <i class="fa fa-phone fa-fw"></i>
                </span>
                <input [(ngModel)]="formTelefono" name="formTelefono" id="formTelefono" type="text" class="form-control form-control-sm" placeholder="Ingrese telefono...">
              </div>
            </div>

            <!-- formDireccion -->
            <div class="form-group mb-2">
              <small class="form-text text-muted mb-1">Dirección:</small>
              <textarea [(ngModel)]="formDireccion" name="formDireccion" class="form-control" rows="2" placeholder="Ingrese dirección..."></textarea>
            </div>

            <!-- formFecha -->
            <div class="form-group mb-2">
              <small class="form-text text-muted mb-1">Fecha de visita:</small>
              <div class="input-group">
                <span class="input-group-addon" (click)="dp.toggleCalendar()">
                  <i class="fa fa-calendar-o fa-fw"></i>
                </span>
                <input [(ngModel)]="formFecha" name="formFecha" class="form-control form-control-sm" style="float:none" 
                  ngx-mydatepicker name="mydate" id="formdp" [options]="myDatePickerOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
              </div>
            </div>

            <!-- formHora / formMinuto
            <div class="form-group mb-2">
              <small class="form-text text-muted mb-1">Hora de visita:</small>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-clock-o fa-fw"></i>
                </span>
                <select [(ngModel)]="formHora" name="formHora" class="form-control form-control-sm">
                  <option value="0" selected>Hora</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
                <select [(ngModel)]="formMinuto" name="formMinuto" class="form-control form-control-sm">
                  <option value="0" selected>Minutos</option>
                  <option value="00">00</option>
                  <option value="05">05</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="30">30</option>
                  <option value="35">35</option>
                  <option value="40">40</option>
                  <option value="45">45</option>
                  <option value="50">50</option>
                  <option value="55">55</option>
                </select>
              </div>
            </div> -->

            <!-- formTiempo -->
            <div class="form-group mb-2">
                <small class="form-text text-muted mb-1">Hora:</small>
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                    <i class="fa fa-clock-o fa-fw"></i>
                </span>
                <input [(ngModel)]="formTiempo" name="formTiempo" id="formTiempo" type="text" class="form-control form-control-sm">
                </div>
            </div>

            <!-- formObservaciones -->
            <div class="form-group mb-2">
              <small class="form-text text-muted mb-1">Observaciones:</small>
              <textarea [(ngModel)]="formObservaciones" name="formObservaciones" class="form-control" rows="2" placeholder="Ingrese observaciones..."></textarea>
            </div>

          </form>
        </div>
      </div>
    </div>
  </ons-list>

  <ons-bottom-toolbar style="height: 10vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row">
        <div class="col-xs-12 ml-auto">
          <ons-toolbar-button *ngIf="!cameFromModificar" (click)="agendarCliente()" class="bottom-toolbar-button">
            <i class="fa fa-calendar-check-o"></i> Agendar
          </ons-toolbar-button>
          <ons-toolbar-button *ngIf="cameFromModificar" (click)="modificarCliente()" class="bottom-toolbar-button">
            <i class="fa fa-pencil-square-o"></i> Guardar Cambios
          </ons-toolbar-button>
        </div>
      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>