<app-loading-dark-overlay *ngIf="loading"></app-loading-dark-overlay>
<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">Detalle del Cliente</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-book fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list>
    <!-- <ons-list-header>Detalle del cliente</ons-list-header> -->
    <div *ngIf="!cliente" style="text-align: center;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
    </div>
    <div *ngIf="cliente" class="container-fluid mx-3 pt-2">
      <div class="row mb-3">
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item"><b>Estado:</b> {{ cliente.EstadoVisita }}</li>
            <li class="list-group-item"><b>Cliente:</b> {{ cliente.NombreCliente }}</li>
            <li class="list-group-item"><b>Telefono:</b> {{ cliente.Telefono }}</li>
            <li class="list-group-item"><b>Direccion:</b> {{ cliente.Direccion }}</li>
            <li class="list-group-item" *ngIf="cliente.IdEstatusVisita != 2"><b>Fecha de visita:</b> {{ cliente.FechaVisita | appDateFormatdm }}</li>
            <li class="list-group-item" *ngIf="cliente.IdEstatusVisita == 2"><b>Fecha Nacimiento:</b> {{ cliente.FechaNacimiento | appDateFormat }}</li>
            <li class="list-group-item" *ngIf="cliente.IdEstatusVisita != 2"><b>Hora Visita:</b> {{ cliente.HoraVisita }}</li>
            <li class="list-group-item" *ngIf="cliente.IdEstatusVisita == 2"><b>DNI:</b> {{ cliente.DniTitular }}</li>
            <li class="list-group-item" *ngIf="cliente.IdEstatusVisita != 2"><b>Agendado:</b> {{ cliente.FechaAgendado | appDateFormatdm }}</li>
            <li class="list-group-item" *ngIf="cliente.IdEstatusVisita == 2"><b>Contrato:</b> {{ cliente.NumeroContrato}}</li>
            <li class="list-group-item" *ngIf="cliente.IdEstatusVisita == 2"><b>Importe:</b> {{ cliente.ImportePlan | appCurrency }}</li>
            <li class="list-group-item"><b>Observaciones:</b> {{ cliente.Observacion }}</li>
            <!-- <li class="list-group-item text-center">
              <button class="btn btn-outline-primary btn-sm btn-round" (click)="seeMap()">
                <i class="fa fa-map-marker"></i> Ver GPS
              </button>
              <button class="btn btn-outline-primary btn-sm btn-round" (click)="darAltaCliente()" *ngIf="cliente.IdEstatusVisita != 3 && cliente.IdEstatusVisita != 2">
                <i class="fa fa-check"></i> Dar de Alta
              </button>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <br><br><br>
  </ons-list>

  <ons-bottom-toolbar style="height: 15vh;">
    <div class="container-fluid my-2 py-1" *ngIf="cliente">
      <div class="row mb-3">

        <div class="col-xs-12 mr-auto ml-1">
          <ons-toolbar-button (click)="deleteCliente()" class="fa-danger" class="bottom-toolbar-button btn-toolbar-fix">
            <i class="fa fa-times-circle"></i> Eliminar
          </ons-toolbar-button>
        </div>

        <div class="col-xs-12 mr-auto">

        </div>

        <div class="col-xs-12 mr-1">
          <ons-toolbar-button (click)="modificarCliente()" class="bottom-toolbar-button btn-toolbar-fix">
            <i class="fa fa-calendar-check-o"></i> Modificar
          </ons-toolbar-button>
        </div>

      </div>
      <div class="row mb-3">

          <div class="col-xs-12 mr-auto ml-1">
            <ons-toolbar-button (click)="actualizarGPS()" class="fa-danger" class="bottom-toolbar-button text-center btn-toolbar-fix">
                <i class="fa fa-location-arrow"></i> Act. GPS
            </ons-toolbar-button>
          </div>
  
          <div class="col-xs-12 mr-auto">
            <ons-toolbar-button (click)="seeMap()" class="bottom-toolbar-button btn-toolbar-fix" *ngIf="gotCurrentLocation && (cliente.IdEstatusVisita != 3 && cliente.IdEstatusVisita != 2)">
                <i class="fa fa-map-marker"></i> Ver GPS
            </ons-toolbar-button>
          </div>

          <div class="col-xs-12 mr-1 ml-auto">
            <ons-toolbar-button (click)="darAltaCliente()" class="bottom-toolbar-button btn-toolbar-fix" *ngIf="cliente.IdEstatusVisita != 3 && cliente.IdEstatusVisita != 2">
                <i class="fa fa-check"></i> Dar Alta
            </ons-toolbar-button>
            <ons-toolbar-button (click)="seeMap()" class="bottom-toolbar-button btn-toolbar-fix" *ngIf="gotCurrentLocation && !(cliente.IdEstatusVisita != 3 && cliente.IdEstatusVisita != 2)">
              <i class="fa fa-map-marker"></i> Ver GPS
          </ons-toolbar-button>
          </div>
  
        </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>