<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center text-center">Cobranzas</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list>
    <div *ngIf="!cobranzas" style="text-align: center;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
    </div>
    <table class="table table-striped" *ngIf="cobranzas">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-left">Nº</th>
          <th scope="col" class="text-center">Emisión</th>
          <th scope="col" class="text-center">Cierre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cobranza of cobranzas" (click)="selectCobranza( cobranza.IdCobranza )">
          <td class="text-left">
            <b>{{ cobranza.IdCobranza }}</b>
          </td>
          <td class="text-center">{{ cobranza.FechaEmision | appDateFormatdm }}</td>
          <td class="text-center">{{ cobranza.FechaCierre | appDateFormatdm }}</td>
        </tr>
      </tbody>
    </table>
  </ons-list>

</ons-page>