<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">
      
    </div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu vertical-menu-fix">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <div class="content">
      <p *ngIf="!displayMap">Información no disponible</p>
      <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="initialZoom" *ngIf="displayMap" [disableDefaultUI]="true" [zoomControl] ="true">
        <agm-marker [latitude]="latitud" [longitude]="longitud" [iconUrl]="markers.blueDot"></agm-marker>
        <agm-marker  *ngFor="let c of rutas" [latitude]="c.latitud" [longitude]="c.longitud" [iconUrl]="markers.red" >
          <agm-info-window>
            {{c.hora}} hs
          </agm-info-window>
        </agm-marker>
        
      </agm-map>
  </div>

  <ons-bottom-toolbar style="height: 14vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row mb-1">
         
        <div class="col-xs-3 mr-2">
          
        </div>
      </div>
      
    </div>
  </ons-bottom-toolbar>

</ons-page>