.dark-overlay-1 {
    z-index: 20000; 
    opacity: 1; 
    transition: all 0.2s cubic-bezier(0.1, 0.7, 0.4, 1);
}

.loading-icon-div {
    text-align: center; 
    padding-top: 40vh
}

.loading-icon {
    color: #FFF
}