<ons-page>
  <ons-toolbar>
    <div class="center">{{title}}</div>
  </ons-toolbar>

  <div class="form-wrapper">

    <ons-row>
      <ons-col class="user mt-0">
        <input type="text" placeholder="usuario" name="user" [(ngModel)]="user">
      </ons-col>
    </ons-row>

    <ons-row>
      <ons-col class="pass">
        <input type="password" class="form-input" placeholder="contraseña" name="pass" [(ngModel)]="pass">
      </ons-col>
    </ons-row>

    <ons-row class="text-center mt-2 mb-2">
      <ons-col>
        <ons-button (click)="logIn()">
          <span *ngIf="!logginIn">Iniciar Sesión</span>
          <span *ngIf="logginIn">Iniciando Sesión...</span>
          <span *ngIf="!logginIn"><i class="fa fa-sign-in"></i></span>
          <span *ngIf="logginIn"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
        </ons-button>
      </ons-col>
    
    <ons-row *ngIf="install" class="text-center mt-2 mb-2">
      <ons-col>
           <ons-button (click)="installWizard()"><span>Instalación Inicial</span></ons-button> 
      </ons-col>
    </ons-row>
      
    </ons-row>

  </div>
</ons-page>