.padding-fix {
    padding-left: 0px;
    padding-right: 10px;
}

.btn-info:not([disabled]):not(.disabled).active, 
.btn-info:not([disabled]):not(.disabled):active, 
.show>.btn-info.dropdown-toggle {
    color: #E9ECEF;
    background-color: #495057;
    border-color: #10707f;
    box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5)
}

input[type=radio]{
    visibility: hidden;
}

.btn-custom {
    background-color: #E9ECEF;
    color: #495057;
    border-color: #CED4DA;
}