agm-map {
  height: 80vh;
}

.circle-blue {
    color: #6CB1E2;
}

.circle-red{
  color: red;
}

.btn-round {
  border-radius: 25px;
}

.btn-toolbar-fix {
  width: 120px;
}

.vertical-menu-fix {
  top: 8.5vh;
}