<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">{{ gps.titular }}</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu vertical-menu-fix">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <div class="content">
      <p *ngIf="!displayMap">Información no disponible</p>
      <agm-map [latitude]="gps.dLat" [longitude]="gps.dLon" [zoom]="initialZoom" *ngIf="displayMap" [disableDefaultUI]="true" [zoomControl] ="true">
        <agm-marker [latitude]="gps.cLat" [longitude]="gps.cLon" [iconUrl]="markers.blueDot"></agm-marker>
        <agm-marker [latitude]="gps.dLat" [longitude]="gps.dLon" [iconUrl]="markers.redDot"></agm-marker>
      </agm-map>
  </div>

  <ons-bottom-toolbar style="height: 14vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row mb-1">
        <div class="col-xs-9 ml-1 mr-auto">
          <ons-icon icon="fa-circle" class="list-item__icon circle-blue"></ons-icon> Usted
          <ons-icon icon="fa-circle" class="list-item__icon circle-red"></ons-icon> Cliente
        </div>
        <div class="col-xs-3 mr-2">
          <ons-toolbar-button (click)="actualizarGPS()" class="bottom-toolbar-button btn-toolbar-fix text-center">
            <i class="fa fa-refresh"></i> Mi GPS
          </ons-toolbar-button>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-xs-12 ml-2">
          <p class="text-muted mb-1">{{ gps.domicilio }}</p>
          <p class="text-muted mt-1">Tlf. {{ gps.telefono }}</p>
        </div>
      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>