<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">Rendiciones</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list>
    <ons-list-header>Rendiciones cobranza #{{ idCobranza }}</ons-list-header>
    <div *ngIf="!rendiciones && !noData" style="text-align: center;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
    </div>
    <div *ngIf="noData">
      <p class="text-center mt-2 ml-auto"><i class="fa fa-exclamation-circle no-data-icon"></i></p>
      <p class="text-muted text-center mt-2 ml-2">No existen rendiciones para esta cobranza</p>
      <p class="text-muted text-center mt-2 ml-2">
        Puede verificar las ordenes pendientes en las opciones del menú inferior
      </p>
    </div>
    <table class="table table-striped table-fixed" *ngIf="rendiciones">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="px-1 text-center">Fecha</th>
          <th scope="col" class="pr-3 text-right">Cobrado</th>
          <th scope="col" class="pr-3 text-right">Comisión</th>
          <th scope="col" class="pr-3 text-right">Rendición</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of rendiciones" (click)="verDetalleRendicion(r.IdRendicion)">
          <td class="px-1 text-center"><b>{{ r.Fecha | appDateFormatdm }}</b></td>
          <td class="pr-3 text-right">{{ r.Importe | appCurrency }}</td>
          <td class="pr-3 text-right">{{ r.Comision | appCurrency }}</td>
          <td class="pr-3 text-right">{{ r.Rendicion | appCurrency }}</td>
        </tr>
      </tbody>
    </table>
  </ons-list>
  
  <ons-bottom-toolbar style="height: 11vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row">
        <div class="col-xs-12 mr-auto">
          <ons-toolbar-button (click)="verPendientesAcreditadas()" class="bottom-toolbar-button">
            <i class="fa fa-check-circle"></i> Ord. Acreditadas
          </ons-toolbar-button>
        </div>
        <div class="col-xs-12 ml-auto">
          <ons-toolbar-button (click)="verPendientesNoAcreditadas()" class="bottom-toolbar-button">
            <i class="fa fa-times-circle"></i> Ord. Sin Acreditar
          </ons-toolbar-button>
        </div>
      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>