<ons-page>

    <ons-toolbar>
      <div class="center">Instalación Inicial</div>
    </ons-toolbar>
  
    <div class="content">
      <ons-list>
        <!-- <ons-list-header>Sessión iniciada por</ons-list-header> -->
        <ons-list-item>
          <div class="left">
            <img class="list-item__thumbnail" [src]="appLogo">
          </div>
          <div class="center">
            <span class="list-item__title">Paso 2: Sincronización de usuario</span>
          </div>
        </ons-list-item>
      </ons-list>
  
      <br />
  
      <ons-list modifier="inset">
        <div class="container-fluid">

          <div class="row mb-4">
            <div class="col">
              <p class="text-muted mt-1">Sincronización en curso</p>
              <ul class="loading-List">
                <li>
                  <i [class]="icono"></i>
                  Creando Base de datos...
                </li>
                <li>
                  <i [class]="icono2"></i>
                  Creando Funciones...
                </li>
                <li>
                  <i [class]="icono3"></i>
                  Creando usuario...
                </li>
                <li>

                  <i [class]="icono4"></i>
                  Sincronizando data...
                  <ul class="loading-List">
                    <li>
                    <i [class]="icono41"></i>                    
                    Sync Usuarios...
                    </li>
                    <li>
                    <i [class]="icono42"></i>
                    Sync Cobrador...
                    </li>
                    <li>
                    <i [class]="icono43"></i>
                    Sync Ordenes...
                    </li>
                    <li>
                    <i [class]="icono44"></i>
                    Sync Polizas...
                    </li>
                    <li>
                    <i [class]="icono45"></i>
                    Sync Estados de Ord...
                    </li>
                    <li>
                    <i [class]="icono46"></i>
                    Sync Titulares...
                    </li>
                    <li>
                    <i [class]="icono47"></i>
                    Sync Cobranza...
                    </li>
                    <li>
                    <i [class]="icono48"></i>
                    Sync Detalle Cobranza...
                    </li>
                    <li>
                    <i [class]="icono49"></i>
                    Sync Pagos...
                    </li>
                    <li>
                    <i [class]="icono410"></i>
                    Sync rendiciones...
                    </li>
                    
                  </ul>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
      </ons-list>
  
      <br />
  
      <ons-bottom-toolbar style="height: 10vh;">
        <div class="container-fluid my-2 py-1">
          <div class="row">
            <div class="col-xs-12 ml-auto">
              <ons-toolbar-button class="bottom-toolbar-button text-center" [disabled]="!cobrador">
                Siguiente <i class="fa fa-arrow-right"></i>
              </ons-toolbar-button>
            </div>
          </div>
        </div>
      </ons-bottom-toolbar>
  
    </div>
  
  </ons-page>
  