.circle-gray {
    color: lightgray;
}

.circle-orange {
    color: orange;
}

.circle-green {
    color: lightgreen;
}

.circle-red {
    color: red;
}

.circle-blue {
    color: blue;
}

.bottombar-icon {
    border: 1px solid gray;
    margin-top: 5px;
}

.btn:checked {
  outline: none;
}

.noborder {
    border: none;
}

.btn-round {
    border-radius: 10px;
}

.alink {
    color: blue;
}

.big-gps-button {
    padding: 11px 2px 2px 2px;
    width: 85px;
    height: 40px;
}

.btn-toolbar-fix {
    width: 121px;
}