<app-loading-dark-overlay *ngIf="loading"></app-loading-dark-overlay>
<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">Cuenta Nº{{ idPoliza }}</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list *ngIf="ordenes">
    <ons-list-item>
      <div class="center pt-1">
        <span class="list-item__title"><b>{{ ordenes[0].Titular }}</b></span>
        <span class="list-item__subtitle text-muted">
          {{ ordenes[0].DomicilioCobro }}
        </span>
        <span class="list-item__subtitle text-muted">
            Tlf. {{ ordenes[0].Telefono }}
          </span>
      </div>
      <div class="right pt-1">
        <ons-toolbar-button *ngIf="gotCurrentLocation" (click)="seeMap()" class="bottom-toolbar-button big-gps-button text-center">
            <i class="fa fa-map-marker"></i> {{ distancia }}
        </ons-toolbar-button>
      </div>
    </ons-list-item>
  </ons-list>

  <br>

  <ons-list>
    <div *ngIf="!ordenes" style="text-align: center;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
    </div>
    <table class="table table-striped mb-0" *ngIf="ordenes">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="pl-3">Estado</th>
          <th scope="col" class="px-1">Orden</th>
          <th scope="col" class="px-1 text-center">Mes</th>
          <th scope="col" class="pl-1 pr-3 text-right">Importe</th>
          <th scope="col" class=""></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenes; let i = index;">
          <td class="pl-3" *ngIf="orden.EstadoOrden == 0 && orden.RendidoCase == 0">
            <ons-icon icon="fa-circle" class="list-item__icon circle-gray"></ons-icon>
          </td>
          <td class="pl-3" *ngIf="orden.EstadoOrden == 1 && orden.RendidoCase == 0">
            <ons-icon icon="fa-circle" class="list-item__icon circle-green"></ons-icon>
          </td>
          <td class="pl-3" *ngIf="orden.EstadoOrden == 2 && orden.RendidoCase == 0">
            <ons-icon icon="fa-circle" class="list-item__icon circle-red"></ons-icon>
          </td>
          <td class="pl-3" *ngIf="orden.RendidoCase == 1">
            <ons-icon icon="fa-check-circle" class="list-item__icon circle-green"></ons-icon>
          </td>
          <td class="px-1">
            <b>{{ orden.IdOrdenPago }}</b>
          </td>
          <td class="px-1 text-center">{{ orden.Mes }}</td>
          <td class="pl-1 pr-3 text-right">{{ orden.Importe | appCurrency }}</td>
          <td class="text-center" *ngIf="orden.RendidoCase == 0">
            <ons-checkbox (click)="setSelected(i, $event, orden.IdOrdenPago)"></ons-checkbox>
          </td>
          <td *ngIf="orden.RendidoCase == 1"></td>
        </tr>
      </tbody>
    </table>
  </ons-list>

<ons-bottom-toolbar style="height: 14vh;" *ngIf="ordenes">
  <div class="container-fluid my-2 py-1">
    <div class="row mb-3">

      <div class="col-xs-12 mr-auto ml-1">
        <ons-toolbar-button *ngIf="totalImporte > 0 && acreditar === 1" class="bottom-toolbar-button-label">
          <i class="fa fa-money"></i> Importe: {{ totalImporte | appCurrency }}
        </ons-toolbar-button>
        <ons-toolbar-button *ngIf="totalImporte === 0 && notAllCredited && !IdRegistroAgenda" (click)="visitAgain()" class="bottom-toolbar-button">
          <i class="fa fa-user"></i> Agendar Visita
        </ons-toolbar-button>

        <ons-toolbar-button *ngIf="!totalImporte === 0 && notAllCredited && IdRegistroAgenda" (click)="seeVisit()" class="bottom-toolbar-button">
          <i class="fa fa-user"></i> Ver Visita
        </ons-toolbar-button>
      </div>

      <div class="col-xs-12 mr-auto">

      </div>

      <div class="col-xs-12 mr-1">
        <ons-toolbar-button *ngIf="(totalImporte === 0 && notAllCredited && IdRegistroAgenda && !cameFromAgenda)" (click)="deleteClienteAgenda()" class="bottom-toolbar-button">
          <i class="fa fa-user-times"></i> Borrar Visita
        </ons-toolbar-button>
        <ons-toolbar-button *ngIf="acreditar === 1" (click)="acreditarOrdenes()" class="bottom-toolbar-button">
          <i class="fa fa-credit-card"></i> Acreditar
        </ons-toolbar-button>
        <ons-toolbar-button *ngIf="acreditar === 2" (click)="desacreditarOrdenes()" class="bottom-toolbar-button">
          <i class="fa fa-times-circle"></i> Desacreditar
        </ons-toolbar-button>
        <ons-toolbar-button *ngIf="acreditar === 3" class="bottom-toolbar-button-label">
          <i class="fa fa-ban"></i> Selección Incorrecta
        </ons-toolbar-button>
      </div>

    </div>

    <div class="row mb-3">

      <div class="col-xs-12 mr-auto ml-1">

      </div>

      <div class="col-xs-12 mr-auto">
        <ons-toolbar-button (click)="actualizarGPS()" class="bottom-toolbar-button btn-toolbar-fix text-center">
            <i class="fa fa-refresh"></i> GPS
        </ons-toolbar-button>
      </div>

      <div class="col-xs-12 mr-1">

      </div>

    </div>

  </div>
</ons-bottom-toolbar>

</ons-page>