<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center text-center">Visitas Reprogramadas</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list *ngIf="noData">
    <div>
      <p class="text-center mt-2 ml-auto">
        <i class="fa fa-exclamation-circle no-data-icon"></i>
      </p>
      <p class="text-muted text-center mt-2 ml-2">No existen clientes agendados.</p>
    </div>
  </ons-list>
  <ons-list class="mb-5" *ngIf="!noData">
    <div *ngIf="!clientes" style="text-align: center;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
    </div>
    <table class="table table-striped mb-0" *ngIf="clientes">
      <thead class="thead-light">
        <th class="pt-3 pr-1 text-center"> Fecha</th>
        <th class="pt-3 pr-1 text-center"> Hora</th>
        <th class="pt-3 pr-1 text-center"> Nombre</th>
        <!-- <th class="pt-3 pr-1 text-center"> Estado</th> -->
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; let i = index;" (click)="selectCliente(cliente.IdRegistro)">
          <td class="pt-3 pr-1 text-center">{{ cliente.FechaVisita | appDateFormatdm }}</td>
          <td class="pt-3 pr-1 text-center">{{ cliente.HoraVisita }}</td>
          <td class="pt-3 pr-1 text-center">{{ cliente.NombreCliente }}</td>
          <!-- <td class="pt-3 pr-1 text-center">{{ cliente.EstadoVisita }}</td> -->
        </tr>
      </tbody>
    </table>
  </ons-list>

  <ons-bottom-toolbar style="height: 10vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row">
        <div class="col-xs-12 ml-auto" *ngIf="!noData">
          <ons-toolbar-button (click)="verUbicacionAgendados()" class="bottom-toolbar-button text-center" *ngIf="clientes">
            <i class="fa fa-map-o"></i> GPS
          </ons-toolbar-button>
        </div>
      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>