<app-loading-dark-overlay *ngIf="loading"></app-loading-dark-overlay>
<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center text-center">Visitas reprogramadas</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list>
    <!-- <ons-list-header>Detalle del cliente</ons-list-header> -->
    <div class="container-fluid mx-3 pt-2" style="height: 75vh" *ngIf="gotCurrentLocation && cliente">
      <div class="row mb-3">
        <div class="col-xs-12">
          <ul class="list-group ml-1">
            <li class="list-group-item">
              <b>Cliente:</b> {{ cliente.NombreCliente }}</li>
            <li class="list-group-item">
              <b>Telefono:</b> {{ cliente.Telefono }}</li>
            <li class="list-group-item">
              <b>Direccion:</b> {{ cliente.Direccion }}</li>
            <li class="list-group-item">
              <b>Fecha de visita:</b> {{ cliente.FechaVisita | appDateFormatdm }}</li>
            <li class="list-group-item">
              <b>Hora Visita:</b> {{ cliente.HoraVisita }}</li>
            <li class="list-group-item">
              <b>Agendado:</b> {{ cliente.FechaAgendado | appDateFormatdm }}</li>
            <li class="list-group-item">
              <b>Observaciones:</b> {{ cliente.Observacion }}</li>
            <!-- <li class="list-group-item text-center">
              <button class="btn btn-outline-primary btn-sm btn-round" (click)="verCuentaCliente()">
                <i class="fa fa-id-card-o"></i> Ver Cuenta
              </button>
              <button class="btn btn-outline-primary btn-sm btn-round" (click)="seeMap()">
                <i class="fa fa-map-marker"></i> Ver GPS
              </button>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </ons-list>

  <ons-bottom-toolbar style="height: 15vh;">
    <div class="container-fluid my-2 py-1">

      <div class="row mb-3">

        <div class="col-xs-12 mr-auto ml-1">
          <ons-toolbar-button (click)="seeMap()" class="fa-danger" class="bottom-toolbar-button btn-toolbar-fix text-center">
              <i class="fa fa-map-marker"></i> Ver GPS
          </ons-toolbar-button>
        </div>
        
        <div class="col-xs-12 mr-auto">

        </div>

        <div class="col-xs-12 mr-1">
          <ons-toolbar-button (click)="verCuentaCliente()" class="bottom-toolbar-button btn-toolbar-fix text-center">
              <i class="fa fa-id-card-o"></i> Cuenta
          </ons-toolbar-button>
        </div>
        
      </div>
      <div class="row mb-3">

        <div class="col-xs-12 mr-auto ml-1">
          <ons-toolbar-button (click)="deleteCliente()" class="fa-danger" class="bottom-toolbar-button btn-toolbar-fix text-center">
            <i class="fa fa-times-circle"></i> Eliminar
          </ons-toolbar-button>
        </div>
        
        <div class="col-xs-12 mr-auto">
          <ons-toolbar-button (click)="actualizarGPS()" class="bottom-toolbar-button btn-toolbar-fix text-center">
            <i class="fa fa-refresh"></i> GPS
          </ons-toolbar-button>
        </div>

        <div class="col-xs-12 mr-1">
          <ons-toolbar-button (click)="modificarAgendado()" class="bottom-toolbar-button btn-toolbar-fix text-center">
            <i class="fa fa-pencil-square-o"></i> Modificar
          </ons-toolbar-button>
        </div>
        
      </div>

    </div>
  </ons-bottom-toolbar>

</ons-page>