<app-loading-dark-overlay *ngIf="loading"></app-loading-dark-overlay>
<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center text-center">Cobranza Nº{{ cobranzaId }}</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list *ngIf="noData">
    <div>
      <p class="text-center mt-2 ml-auto">
        <i class="fa fa-exclamation-circle no-data-icon"></i>
      </p>
      <p class="text-muted text-center mt-2 ml-2">No existen ordenes asociadas a la cobranza seleccionada</p>
    </div>
  </ons-list>
  <ons-list>
    <div *ngIf="!ordenes" style="text-align: center;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
    </div>
    <table class="table table-striped" *ngIf="ordenes && !noData">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="px-1 text-center"></th>
          <th scope="col" class="px-1 text-left">Cuenta</th>
          <!-- <th scope="col" class="px-1 text-center">U. Pago</th> -->
          <th scope="col" class="px-1 text-center">Ordenes</th>
          <th scope="col" class="pl-1 pr-3 text-right">Importe</th>
          <th scope="col" class="pl-1 pr-3 text-right">Distancia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenes">
          <td class="px-0" *ngIf="orden.EstadoOrdenes == 0" (click)="selectPoliza( orden.IdPoliza )">
            <ons-icon icon="fa-circle" class="list-item__icon circle-gray"></ons-icon>
          </td>
          <td class="px-0" *ngIf="orden.EstadoOrdenes == 1" (click)="selectPoliza( orden.IdPoliza )">
            <ons-icon icon="fa-circle" class="list-item__icon circle-orange"></ons-icon>
          </td>
          <td class="px-0" *ngIf="orden.EstadoOrdenes == 2" (click)="selectPoliza( orden.IdPoliza )">
            <ons-icon icon="fa-circle" class="list-item__icon circle-green"></ons-icon>
          </td>
          <td class="px-0" *ngIf="orden.EstadoOrdenes == 3" (click)="selectPoliza( orden.IdPoliza )">
            <ons-icon icon="fa-check-circle" class="list-item__icon circle-green"></ons-icon>
          </td>
          <td class="px-1 text-left" (click)="selectPoliza( orden.IdPoliza )">
            <b>{{ orden.IdPoliza }}</b>
          </td>
          <!-- <td class="px-1 text-center">{{ orden.UltimoPagoRegistrado | appDateFormatdm }}</td> -->
          <td class="px-1 text-center" (click)="selectPoliza( orden.IdPoliza )">{{ orden.CantidadOrdenes }}</td>
          <td class="pl-1 pr-3 text-right" (click)="selectPoliza( orden.IdPoliza )">{{ orden.ImporteTotal | appCurrency }}</td>
          <td class="px-1 text-center" *ngIf="orden.distance !== 'N/D'"><ons-toolbar-button class="bottom-toolbar-button" (click)="seeMap(orden)">{{ orden.distance }}</ons-toolbar-button></td>
          <td class="px-1 text-center" *ngIf="orden.distance === 'N/D'">{{ orden.distance }}</td>
        </tr>
      </tbody>
    </table>
    
  </ons-list>

  <br> <br> <br> <br>

  <ons-bottom-toolbar style="height: 20vh;">
    <div class="container-fluid my-2 py-1" *ngIf="ordenes">
        <div class="row mb-3">

          <div class="col-xs-12 mr-auto ml-1">
            <ons-toolbar-button (click)="verUbicacionPendientes()" class="bottom-toolbar-button btn-toolbar-fix text-center">
                <i class="fa fa-map-o"></i> Ver GPS
            </ons-toolbar-button>
          </div>
  
          <div class="col-xs-12 mr-auto">

          </div>
  
          <div class="col-xs-12 mr-1">
            <ons-toolbar-button (click)="verRendicion()" class="bottom-toolbar-button btn-toolbar-fix text-center">
                <i class="fa fa-handshake-o"></i> Rendiciones
            </ons-toolbar-button>
          </div>
  
        </div>
        <div class="row mb-3">

          <div class="col-xs-12 mr-auto ml-1">
            <ons-toolbar-button (click)="sortEstado()" class="bottom-toolbar-button btn-toolbar-fix text-center">
                <i class="fa fa-sort-amount-desc"></i> Estado
            </ons-toolbar-button>
          </div>
  
          <div class="col-xs-12 mr-auto">

          </div>
  
          <div class="col-xs-12 mr-1">
            <ons-toolbar-button (click)="sortGps()" class="bottom-toolbar-button btn-toolbar-fix text-center">
                <i class="fa fa-sort-amount-desc"></i> GPS
            </ons-toolbar-button>
          </div>
  
        </div>
        <div class="row mb-1">
            <div class="col-xs-12 mb-0  ml-2">
              <ons-icon icon="fa-circle" class="list-item__icon circle-gray px-0 mx-auto"></ons-icon> Impago
              <ons-icon icon="fa-circle" class="list-item__icon circle-orange px-0 mx-auto"></ons-icon> Parcial
              <ons-icon icon="fa-circle" class="list-item__icon circle-green px-0 mx-auto"></ons-icon> Acreditada
              <ons-icon icon="fa-check-circle" class="list-item__icon circle-green px-0 mx-auto"></ons-icon> Rendida
            </div>
        </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>