<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">{{ currentTitular }}</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu vertical-menu-fix">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <div class="content">
    
    <!-- General Map -->
    <agm-map *ngIf="!cameFromAgenda" [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="15">
      <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude" [iconUrl]="markers.blueDot"></agm-marker>
      <agm-marker *ngFor="let d of domicilios" (markerClick)="verDatos(d)" [latitude]="d.lat" [longitude]="d.lon" [iconUrl]="d.color" ></agm-marker>
    </agm-map>

    <!-- Agenda Map -->
    <agm-map *ngIf="cameFromAgenda" [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="15">
      <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude" [iconUrl]="markers.blueDot"></agm-marker>
      <agm-marker *ngFor="let d of domicilios" (markerClick)="verDatos(d)" [latitude]="d.lat" [longitude]="d.lon" [iconUrl]="d.color"></agm-marker>
    </agm-map>

  </div>

  <ons-bottom-toolbar style="height: 18vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row mb-1">
        <div class="col-xs-12">
          <p class="text-muted ml-2 mb-0"><ons-icon icon="fa-circle" class="list-item__icon circle-blue"></ons-icon> Usted</p>
        </div>
      </div>
      <div class="row mb-0">

        <div class="col-xs-12 mb-0  ml-2" *ngIf="cameFromAgenda">
            <ons-icon icon="fa-circle" class="list-item__icon circle-darkgray"></ons-icon> Pasado
          <ons-icon icon="fa-circle" class="list-item__icon circle-green"></ons-icon> Hoy
          <ons-icon icon="fa-circle" class="list-item__icon circle-yellow"></ons-icon> Mañana
          <ons-icon icon="fa-circle" class="list-item__icon circle-red"></ons-icon> Luego
        </div>

        <div class="col-xs-12 mb-0 ml-2" *ngIf="!cameFromAgenda">
          <ons-icon icon="fa-circle" class="list-item__icon circle-darkgray"></ons-icon> Sin cobrar
          <ons-icon icon="fa-circle" class="list-item__icon circle-orange"></ons-icon> Cobro Parcial
        </div>

      </div>
      <div class="row mb-1">
        <div class="col-xs-12">
          <p class="text-muted my-1 mx-2">{{ currentDomicilio }}</p>
          <p class="text-muted my-1 mx-2">{{ currentTelefono }}</p>
        </div>
      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>