agm-map {
  height: 80vh;
}

.circle-red {
    color: red;
}

.circle-yellow {
    color: #FFF200;
}

.circle-green {
    color: #22B14C;
}

.circle-blue {
    color: #6CB1E2;
}

.circle-orange {
  color: #FF6700
}

.circle-gray {
  color: #D3D3D3
}

.circle-darkgray {
    color: #848585
}

.vertical-menu-fix {
    top: 8.5vh;
}