<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">Detalle Rendición</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()">
          <i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()">
          <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list>
    <ons-list-header>{{ pageSubtitle }}</ons-list-header>
    <div *ngIf="!rendiciones && !noData" style="text-align: center;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
    </div>
    <div *ngIf="noData">
      <p class="text-center mt-2 ml-auto">
        <i class="fa fa-exclamation-circle no-data-icon"></i>
      </p>
      <p class="text-muted text-center mt-2 ml-2">{{ noDataMessage }}</p>
    </div>
    <table class="table table-striped table-fixed" *ngIf="rendiciones && !noData">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="px-1 text-left">Cuenta</th>
          <th scope="col" class="px-1 text-center">Orden</th>
          <th scope="col" class="text-right">Importe</th>
          <th scope="col" class="pl-1 text-right">Comisión</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of rendiciones">
          <td class="text-left"><b>{{ r.IdPoliza }}</b></td>
          <td class="text-center">{{ r.IdOrdenPago }}</td>
          <td class="text-right">{{ r.Importe | appCurrency }}</td>
          <td class="text-right pl-1">{{ r.Comision | appCurrency }}</td>
        </tr>
      </tbody>
    </table>
  </ons-list>

  <ons-bottom-toolbar style="height: 10vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row">
        <div class="col-xs-12 mr-auto">
          <ons-toolbar-button class="bottom-toolbar-button-label">
            <i class="fa fa-handshake-o"></i> Rendición: {{ totalImporte | appCurrency }}
          </ons-toolbar-button>
        </div>
        <div class="col-xs-12 ml-auto">
          <ons-toolbar-button class="bottom-toolbar-button-label">
            <i class="fa fa-money"></i> Comisión {{ totalComision | appCurrency }}
          </ons-toolbar-button>
        </div>
      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>