<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">{{ currentCliente }}</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()"><i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <div class="content">

    <!-- Pendientes Map -->
    <agm-map [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="15" *ngIf="flagPendientesMap">
      <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude" [iconUrl]="markers.blueDot"></agm-marker>
      <agm-marker (markerClick)="verInfo(c)" *ngFor="let c of gpsAgendados" [latitude]="c.lat" [longitude]="c.lon" [iconUrl]="c.marker"></agm-marker>
    </agm-map>

    <!-- Pendiente Map -->
    <agm-map [latitude]="currentLatitude" [longitude]="currentLongitude" [zoom]="15" *ngIf="flagClienteMap">
      <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude" [iconUrl]="markers.blueDot"></agm-marker>
      <agm-marker [latitude]="gpsAgendados.lat" [longitude]="gpsAgendados.lon" [iconUrl]="markers.redDot"></agm-marker>
    </agm-map>

  </div>

  <ons-bottom-toolbar style="height: 19vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row" >
        <div class="col-xs-12">
          <p class="text-muted mb-1 ml-2" *ngIf="flagPendientesMap">
            <ons-icon icon="fa-circle" class="list-item__icon circle-blue"></ons-icon> Usted
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 mb-2 ml-2" *ngIf="flagPendientesMap">
          <ons-icon icon="fa-circle" class="list-item__icon circle-darkgray"></ons-icon> Pasado
          <ons-icon icon="fa-circle" class="list-item__icon circle-green"></ons-icon> Hoy
          <ons-icon icon="fa-circle" class="list-item__icon circle-yellow"></ons-icon> Mañana
          <ons-icon icon="fa-circle" class="list-item__icon circle-red"></ons-icon> Luego
        </div>

        <div class="col-xs-9 mb-2 ml-2" *ngIf="flagClienteMap">
          <ons-icon icon="fa-circle" class="list-item__icon circle-blue"></ons-icon> Usted
          <ons-icon icon="fa-circle" class="list-item__icon circle-red"></ons-icon> Cliente
        </div>

        <div class="col-xs-3 ml-auto mr-2" *ngIf="flagClienteMap">
          <ons-toolbar-button (click)="actualizarGPS()" class="bottom-toolbar-button btn-toolbar-fix text-center">
            <i class="fa fa-refresh"></i> Mi GPS
          </ons-toolbar-button>
        </div>

      </div>
      <div class="row mb-1">
        <div class="col-xs-12 ml-2">
          <p class="text-muted mb-1">{{ currentDomicilio }}</p>
          <p class="text-muted mt-1">{{ currentTelefono }}</p>
        </div>
      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>