<app-loading-dark-overlay *ngIf="loading"></app-loading-dark-overlay>
<ons-page>

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="goBack()">
        <ons-icon icon="fa-arrow-left" class="fa-3x fa-toolbar-icon"></ons-icon> Atras
      </ons-toolbar-button>
    </div>
    <div class="center">Agenda de Clientes</div>
    <div class="right">
      <ons-toolbar-button (click)="menuCollapsed = !menuCollapsed" [attr.aria-expanded]="!menuCollapsed">
        <i class="fa fa-ellipsis-v"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="row vertical-menu">
    <div class="col-xs-3" [ngbCollapse]="menuCollapsed">
      <ul class="list-group">
        <li class="list-group-item" (click)="goHome()"><i class="fa fa-home fa-fw"></i> Inicio</li>
        <li class="list-group-item" (click)="cerrarSesion()"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</li>
      </ul>
    </div>
  </div>

  <br>

  <ons-list *ngIf="noData">
    <div>
      <p class="text-center mt-2 ml-auto">
        <i class="fa fa-exclamation-circle no-data-icon"></i>
      </p>
      <p class="text-muted text-center mt-2 ml-2">No existen clientes agendados.</p>
    </div>
  </ons-list>
  <ons-list class="mb-5" *ngIf="!noData">
    <div *ngIf="!clientes" style="text-align: center;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw app-icon-loading"></i>
    </div>
    <table class="table table-striped mb-0" *ngIf="clientes">
      <thead class="thead-light">
          <th class="pt-3 pr-0 pl-1 text-center"></th>
        <th class="pt-3 pr-0 pl-1 text-left"> Fecha</th>
        <th class="pt-3 pr-1 text-center"> Nombre</th>
        <!-- <th class="pt-3 pr-1 text-center"> Estado</th> -->
        <th class="pt-3 pr-1 pl-1 text-center"> Distancia</th>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; let i = index;">
          <td class="px-0" (click)="selectCliente(cliente.IdRegistro)">
            <ons-icon *ngIf="cliente.EstadoVisita === 'Visitar'" class="circle-gray list-item__icon text-center" icon="fa-circle"></ons-icon>
            <ons-icon *ngIf="cliente.EstadoVisita === 'Preventa'" class="circle-green list-item__icon text-center" icon="fa-circle"></ons-icon>
            <ons-icon *ngIf="cliente.EstadoVisita === 'Alta'" class="circle-green list-item__icon text-center" icon="fa-check-circle"></ons-icon>
            <ons-icon *ngIf="cliente.EstadoVisita === 'Rechazado'" class="circle-darkgray list-item__icon text-center" icon="fa-circle"></ons-icon>
          </td>
          <td class="pt-3 pr-0 pl-1 text-left" (click)="selectCliente(cliente.IdRegistro)">{{ cliente.FechaVisita | appDateFormatdm }}  {{ cliente.HoraVisita }}</td>
          <td class="pt-3 pr-1 text-center" (click)="selectCliente(cliente.IdRegistro)">{{ cliente.NombreCliente }}</td>
          <!-- <td class="pt-3 pr-1 text-center" (click)="selectCliente(cliente.IdRegistro)">{{ cliente.EstadoVisita }}</td> -->
          <td class="pt-3 pr-1 pl-1 text-center"><ons-toolbar-button class="bottom-toolbar-button" (click)="seeMap(i)">{{ cliente.distance }}m</ons-toolbar-button></td>
        </tr>
      </tbody>
    </table>
  </ons-list>

  <ons-bottom-toolbar style="height: 13vh;">
    <div class="container-fluid my-2 py-1">
      <div class="row mb-3">

        <div class="col-xs-12 ml-2 mr-auto">
          <ons-toolbar-button *ngIf="clientes && !noData" (click)="verUbicacionAgendados()" class="bottom-toolbar-button">
            <i class="fa fa-map-o"></i> GPS
          </ons-toolbar-button>
        </div>
  
        <div class="col-xs-12 ml-auto mr-2">
          <ons-toolbar-button *ngIf="clientes" class="bottom-toolbar-button" (click)="sortGps()">
            <i class="fa fa-sort-amount-desc"></i> Ordenar GPS
          </ons-toolbar-button>
        </div>

        <div class="col-xs-12 ml-auto mr-2">
          <ons-toolbar-button *ngIf="clientes" class="bottom-toolbar-button" (click)="openAddForm(1)">
            <i class="fa fa-calendar-check-o"></i> Agendar
          </ons-toolbar-button>
        </div>
  
      </div>
      <div class="row mb-1">
          <div class="col-xs-12 mb-0  ml-2">
            <ons-icon icon="fa-circle" class="list-item__icon circle-gray px-0 ml-1"></ons-icon> Visitar
            <ons-icon icon="fa-circle" class="list-item__icon circle-darkgray px-0 mr-1"></ons-icon> Rechazado
            <ons-icon icon="fa-circle" class="list-item__icon circle-green px-0 mx-auto"></ons-icon> Preventa
            <ons-icon icon="fa-check-circle" class="list-item__icon circle-green px-0 mx-auto"></ons-icon> Alta
          </div>
      </div>
    </div>
  </ons-bottom-toolbar>

</ons-page>