.circle-red {
    color: red;
}

.circle-yellow {
    color: #FFF200;
}

.circle-green {
    color: lightgreen;
}

.circle-blue {
    color: #6CB1E2;
}

.circle-orange {
  color: #FF6700
}

.circle-gray {
  color: #D3D3D3
}

.circle-darkgray {
    color: #848585
}