/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');

$toolbarFontColor: #1E81FF;

.vertical-menu {
    position: fixed; 
    right: 0;
    z-index: 100;
    i {
        color: $toolbarFontColor;
    }
}

.no-data-icon {
    font-size: 24px;
    color: lightgray;
}

.bottom-toolbar-button {
    border: 1px solid;
    border-radius: 15px;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.bottom-toolbar-button-label {
    border: none;
    border-radius: none;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.app-icon-color {
    color: $toolbarFontColor;
    font-size: 24px;
}

.app-icon-loading {
    color: $toolbarFontColor;
    margin: 20px;
}

.app-fa-toolbar-icon {
    color: $toolbarFontColor;
}

.app-toolbar-font {
    color: $toolbarFontColor;
    font-family: Arial, Helvetica, sans-serif;
}
